/* ./src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Roboto";
	src: url(../public/fonts/Roboto/Roboto-Thin.ttf);
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url(../public/fonts/Roboto/Roboto-Regular.ttf);
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url(../public/fonts/Roboto/Roboto-Medium.ttf);
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url(../public/fonts/Roboto/Roboto-Bold.ttf);
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url(../public/fonts/Roboto/Roboto-Black.ttf);
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
